<!DOCTYPE html>
<html lang="en">

<head>
    <title>USA Facts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/css/indexStyles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body class="blueBack">
    <nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">USA Facts</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="/facts" class="nav-link">Facts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container redBack">
            <h1>Would you like to learn more about the United States?</h1>
            <p>The United States of America has alot of historical facts in its 244 years since being established. This page is a great place to learn a few! </p>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/facts" role="button">Get Facts!</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Birth of America</h3>
                <p>The Second Continental Congress adopted the United States Declaration of Independence in Philadelphia, Pennsylvania on the now famous "Independence Day", July 4, 1776.
                </p>
            </div>
            <div class="col-lg-6">
                <h3>Americans don't know their history</h3>
                <p>The National Assessment of Educational Progress reported in 2014 that only 18% of 8th graders were proficient or above in U.S. History. Many other surveys allude these scores only			get worse with age. 
		</p> <!-- Source: https://www.smithsonianmag.com/history/how-much-us-history-do-americans-actually-know-less-you-think-180955431/  -->
            </div>
        </div>
    </div>
  </body>
</html>
